body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#board {
    /*background-color: skyblue;*/
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./bamboobg.avif")
}
.plyBtnMain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}
.playBtn {
    font-size: 13px;
    font-weight: 800;
    padding: 8px 20px;
    height: 48px;
    outline: none;
    background-color: rgb(29 124 82);
    border-radius: 10px;
    border: none;
    color:#fff;   
    cursor: pointer;
    align-self: center;
    margin-top: 40dvh;

}

.icn-sttngs{
    border: none;
    background-color: transparent;
    font-size: xx-large;
    text-align: right;
    position: absolute;
}

.setting-icon {
    display: grid;
    place-content: center;
}

.icon{
    align-items: 50px;
}
